UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
CRON_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_OWNER_CHAT_ID=
DATABASE_URL=
OWNER_EMAIL=
OWNER_USERNAME=
